<!DOCTYPE html >

<html>


<head>
<title>404 page</title>

<link rel="stylesheet" href ="./css/style.css">  
</head>

<body>
  <div class ="header1">
     {{>header}} 
    
    <p>{{errorpage}}</p>
  </div>

   
      {{>footer}}
</body>
</html>