<!DOCTYPE html >

<html>


<head>
  <title>About</title>

    <link rel="stylesheet" href ="./css/style.css">
</head>

<body>


  <div class ="header1">

     {{>header}}
        
            <img class = "mera_photu"rel= "stylesheet" src=" /img/195807876_499998311241480_2366861111275745523_n.png" >      

   
  </div>

       
        {{>footer}}
</body>
</html>