<!DOCTYPE html >

<html>
<head>
  <title>Help</title>

    <link rel="stylesheet" href ="./css/style.css">
</head>

<body>

<div class="header1" > {{>header}}
</div>
    
{{!--     
      /*<p > this page is created by {{name }}</p>p><br>
      <p> who is currently living in {{ place}}</p> --}}
      {{>footer}}

</body>
</html>