{{!-- // this page will be send to every page since we have created a title in every page
// so this is going to be passed in all the pages --}}



{{!-- if we want to send  more things to all pages we can easily do that by just 
creating a link and whatever we  want and ccan be snt easily to all the pages example 
here i am setting a link and a commmon picture to all teh pages --}}
<header>
    <h1> {{title}}</h1>
<a href = "/">Weather</a>
<a href = "/help">Help</a>
<a href = "/about">About</a>
</header>





